#parent #popup {
  display: none;
}

#parent:hover #popup {
  display: block;
}

.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input.readonly {
  opacity : .50;
  filter  : alpha(opacity=50); /* IE<9 */
  cursor  : default;
  pointer-events:none
}

.btn-xl {
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 10px;
}

.padd {
  padding-bottom: 20px;
  padding-left: 15px;
}
