{# Extends Header html, contains nav and scripts #}
{% extends "moduleChooser/header.html" %}

{% block content %}
<h3>Summary</h3>

{# Breif student details, pulled from views #}
<p>Student ID: {{ user.username}}</p>
<p>{{ user.student.course.course_title }}</p>
<p>Level of Study: {{ user.student.year_of_study }}</p>

<h4>Core Modules:</h4>
  {# Table for displaying all core modules for the given year #}
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Module Code</th>
        <th scope="col">Module Title</th>
        <th scope="col">Semester</th>
        <th scope="col">Credits</th>
      </tr>
    </thead>

    <tbody>

      {# iterates through all modules for the given year and populates the table #}
      {% for module in compulsoryModules %}
        <tr>
          <td><a href="{{module.module_page}}"><div id="{{module.module_code}}">{{module.module_code}}</div></a></td>     {# Module Code #}
          <td>{{module.module_title}}</td>                                                                                {# Module Title #}  
          <td>{{module.semester}}</td>                                                                                    {# Module Semester #}                                                                               {# Module Credits #}
          <td>{{module.credits}}</td>                                                                                     {# Selection checkbox - uses module code as id #}
        </tr>
      {% endfor %}

    </tbody>
    
  </table> 


<h4>Selected Optional Modules:</h4>
  {# Table for displaying optional modules for given year #}
  <table class="table">

      <thead>
        <tr>
          <th scope="col">Module Code</th>
          <th scope="col">Module Title</th>
          <th scope="col">Semester</th>
          <th scope="col">Credits</th>
        </tr>
      </thead>
  
      <tbody>

        {# iterates through optional modules for the given year and populate table #}
        {% for module in selected %}

            <tr>
                <td><a href="{{module.module_page}}"><div id="{{module.module_code}}">{{module.module_code}}</div></a></td>     {# Module Code #}
                <td>{{module.module_title}}</td>                                                                                {# Title #}
                <td>{{module.semester}}</td>                                                                                    {# Module Semester #}                                                                                  {# Module Credits #}
                <td>{{module.credits}}</td>                                                                                     {# Selection checkbox - uses module code as id #}
            </tr>

        {% endfor %}

      </tbody>
    
  </table> 

  {# Form submission button, csrf for protection #}
  <form id="submitModulesForm" role="form" action="" method="post" enctype="multipart/form-data">
    {{ csrf_input }}
    <a class="btn btn-secondary" href="{{ url('confirmationOne') }}">Back</a>
    <input type="button" class="btn btn-success" onclick="buttonConfirm()" value="Confirm">
  </form>

  {# Confirmation dialog before submitting the data to db #}
  <script>
    function buttonConfirm() {
        if (confirm("Do you wish to confirm and submit your module selection?")){
          document.getElementById("submitModulesForm").submit();
        } else {
          return false;
        }
    }
  </script>

{% endblock %}
