{# Extends Header html, contains nav and scripts #}
{% extends "moduleChooser/header.html" %}

{% block content %}

<h3>Selection Summary</h3>

{# Breif student details, pulled from views #}
<p>Student ID: {{ user.username}}</p>
<p>{{ user.student.course.course_title }}</p>
<p>Level of Study: {{ user.student.year_of_study }}</p>


<h4>Selected Module(s):</h4>
  {# Table for displaying all modules for given year#}
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Module Code</th>
        <th scope="col">Module Title</th>
        <th scope="col">Semester</th>
        <th scope="col">Credits</th>
      </tr>
    </thead>

    <tbody>

      {# iterates through all modules for the given year and populate table with these modules #}
      {% for module in FutureDependantModules %}
        <tr>
          <td><a href="{{module.module_page}}"><div id="{{module.module_code}}">{{module.module_code}}</div></a></td>     {# Module Code #}
          <td>{{module.module_title}}</td>                                                                                {# Module Title #}
          <td>{{module.semester}}</td>                                                                                    {# Module Semester #}                                                                               {# Module Credits #}
          <td>{{module.credits}}</td>                                                                                     {# Selection checkbox - uses module code as id #}
        </tr>
      {% endfor %}

    </tbody>
    
  </table> 


<h4>Future Dependant Module(s):</h4>
  {# Table for displaying all modules for given year #}
  <table class="table">

      <thead>
        <tr>
          <th scope="col">Module Code</th>
          <th scope="col">Module Title</th>
          <th scope="col">Dependancy</th>
          <th scope="col">Credits</th>
        </tr>
      </thead>
  
      <tbody>

        {# iterates through all modules in the future dependent modules object and populate table #}
        {% for module in FutureDependantModules %}

          {# Checks dependancies of each of the future dependent modules object and lists their them #}
          {% for dependancy in module.futuremodules%}
            <tr>
                <td><a href="{{dependancy.module_page}}"><div id="{{dependancy.module_code}}">{{dependancy.module_code}}</div></a></td>     {# Module Code #}
                <td>{{dependancy.module_title}}</td>                                                                                {# Module Title #}
                <td><a href="{{module.module_page}}">{{module.module_code}}</a></td>                                                                                     {# Module Credits #}
                <td>{{dependancy.credits}}</td>          {# Selection checkbox - uses module code as id #}
            </tr>
          {% endfor %}
        {% endfor %}

      </tbody>
    
  </table> 



<h4>Future Modules Now Unavailable</h4>
  {# Table for displaying all modules for not available in future years #}
  <table class="table">

    <thead>
      <tr>
        <th scope="col">Module Code</th>
        <th scope="col">Module Title</th>
        <th scope="col">Dependancy</th>
        <th scope="col">Credits</th>
      </tr>
    </thead>

    <tbody>

      {# iterates through all modules in the futuremodulesnowunavilable object and populates the table #}
      {% for module in FutureModulesNowUnavailable %}
        {% for dependancy in module.futuremodules %}
          <tr>
              <td><a href="{{dependancy.module_page}}"><div id="{{dependancy.module_code}}">{{dependancy.module_code}}</div></a></td>     {# Module Code #}
              <td>{{dependancy.module_title}}</td>                  
              <td><a href="{{module.module_page}}">{{module.module_code}}</a></td>                                                                  {# Module Title #}                                                                                   {# Module Credits #}
              <td>{{dependancy.credits}}</td>          {# Selection checkbox - uses module code as id #}
          </tr>
        {% endfor %}
      {% endfor %}

    </tbody>
  

</table> 

{# Next and Back buttons to change the URL #}
<a class="btn btn-secondary" href="{{ url('year', args=[year_id]) }}">Back</a>
<a class="btn btn-success" href="{{ url('confirmationTwo') }}">Next</a>

{% endblock %}
