{# Extends Header html, contains nav and scripts #}
{% extends "moduleChooser/header.html" %}

{% block content %}

<div class="padd">
<h4><u>Dashboard</u></h4>

{# Breif student details, pulled from views #}
<p><b>Student ID:</b> {{ user.username}}</p>
<p><b>Course:</b> {{ user.student.course.course_title }}</p>
<p><b>Level of Study:</b> {{ user.student.year_of_study }}</p>
</div>

<div class="text-center">
  <h4>Select year</h4>
  {# Iterate through all years of given users course to display buttons for each year #}
  {% for year in range(1, user.student.course.course_length + 1) %}
      
      {# Iterate through all years of given users course to display buttons for each year, disable button if not available #}
      {% if loop.index == user.student.year_of_study and not SubmittedBool %}
        <a class="btn btn-primary btn-xl" href="{{ url('year', args=[loop.index] )}}" role="button">Year {{loop.index}}</a>
      {% else %}
        <button id="Next" class="btn btn-primary btn-xl" href="{{ url('year', args=[loop.index] )}}" disabled>Year {{loop.index}}</button>
      {% endif %}

  {% endfor %}
</div>

{% endblock %}



