{# Form Template #}
{% for field in form %}
  <div class="center">
    <div class="center">
      <span class="text-danger small">{{ field.errors }}</span>
    </div>
    <label class="control-label col-sm-2">{{ field.label }}</label>
    <div class="center">{{ field }}</div>
  </div>
{% endfor %}
