<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

      {# Views can pass in the title #}
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title> Error no title specified</title>
      {% endif %}

      {# Compiled and minified CSS #}
      <link rel="stylesheet" href="{{ static('moduleChooser/css/bootstrap.min.css') }}" />

      {# jQuery library #}
      <script src="{{ static('moduleChooser/js/jquery-3.3.1.min.js') }}"></script>

      {# Compiled JavaScript #}
      <script src="{{ static('moduleChooser/js/bootstrap.min.js') }}"></script>

      {# D3 library #}
      <script src="http://d3js.org/d3.v3.min.js"></script>

      {# import d3 tree function #}
      <script src="{{ static('moduleChooser/js/d3.create.tree.js') }}"></script>

      {# My Styles #}
      <link rel="stylesheet" href="{{ static('moduleChooser/css/styles.css') }}" />

  </head>
  <body>

    {# Navbar setup, with logout button #}
    <nav class="navbar navbar-light bg-faded">
      <div id="navbarSupportedContent">Welcome, {{ user }}</div>
      <a class="navbar-brand" href="/dashboard">Module Chooser</a>
      <a href="{{ url('logoutView')}}" class="btn btn-danger">Logout</a>
    </nav>

    <div>
      
      {% block content %}
        {# All template html is inputted here #}
      {% endblock %}
    </div>

  </body>
</html>
