<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

      {# Views can pass in the title #}
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title> Error no title specified</title>
      {% endif %}

      {# Static folder, Bootstrap #}

      {# Compiled and minified CSS #}
      <link rel="stylesheet" href="{{ static('moduleChooser/css/bootstrap.min.css') }}" />

      {# jQuery library #}
      <script src="{{ static('moduleChooser/js/jquery-3.3.1.min.js') }}"></script>

      {# Compiled JavaScript #}
      <script src="{{ static('moduleChooser/js/bootstrap.min.js') }}"></script>

  </head>
  <body>

    <div>
      {% block content %}
        {# All template html is inputted here #}
      {% endblock %}
    </div>
    
  </body>
</html>
