{# Extends Header html, contains no nav and scripts #}
{% extends "moduleChooser/headerNoNav.html" %}

{% block content %}

  <div class="jumbotron text-center">
    <p>Module Chooser</p>
    <h1>Login</h1>
  </div>

  <div class="text-center">

  <h3>Login</h3>
  {# Display any error messages #}
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}

  {# Form for submitting login data #}
  <form class="center" role="form" action="" method="post" enctype="multipart/form-data">
    {{ csrf_input }}
    {% include "moduleChooser/form-template.html" %}
    <div class="form-group" style="padding-top: 20px;">

      {# Submit button #}
      <div class="col-sm-offset-2 ">
          <button type="submit" class="btn btn-success">Login</button>
      </div>

    </div>

  </form>

  {# Redirect to registration page #}
  <p>Don't have an account? <a href="/register">Sign up</a></p>

  </div>

{% endblock %}
