{# Extends Header html, contains no nav and scripts #}
{% extends "moduleChooser/headerNoNav.html" %}

{% block content %}

  <div class="jumbotron text-center">
    <p>Module Chooser</p>
    <h1>Registation</h1>
  </div>

  <h3>Create new account</h3>

  {# Display any error messages #}
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}

  {# Form for submitting registration data #}
  <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {{ csrf_input }}
    {% include "moduleChooser/form-template.html" %}
    <div class="form-group">

      {# Submit button #}
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>

  </form>

  {# Redirect to Login page #}
  <p>Already have an account? <a href="/login">Sign in here</a></p>


{% endblock %}
