{# Extends Header html, contains nav and scripts #}
{% extends "moduleChooser/header.html" %}

{% block content %}

{# Displays current year viewing modules for #}
<h3>Yr {{ year_id }} - Available Modules</h3>

{# javascript needs to be used to update this value based on checkbox selection #}
<h4>Credits Remaining: <span id="demo">{{ availableCredits }}</span></h4>

{# submition form for the selecting the optional modules #}
<form role="form" action="" method="post" enctype="multipart/form-data">
  {{ csrf_input }}

  {# Table for displaying all modules for given year#}
  <table class="table table-striped table-sm">

    <thead>
      <tr>
        <th scope="col">Module Code</th>
        <th scope="col">Module Title</th>
        <th scope="col">Semester</th>
        <th scope="col">Credits</th>
        <th scope="col">Info</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>

      {# iterates through all optional modules for the given year and populate table #}
      {% for module in Modules %}

        <tr>
          <td><a href="{{module.module_page}}"><div id="{{module.module_code}}">{{module.module_code}}</div></a></td>                                                                                                                           {# Module Code #}
          <td>{{module.module_title}}</td>                                                                                                                                                                                                      {# Module Title #}
          <td>{{module.semester}}</td>                                                                                                                                                                                                          {# Module semester #}
          <td id="cred{{module.module_code}}">{{module.credits}}</td>                                                                                                                                                                           {# Module Credits #}
          <td><button type=button class="btn" onclick="toggle{{module.module_code}}()">Toggle</button></td>                                                                                                                                     {# Toggle button for displaying the data #}
          <td><input type="checkbox" class="{{module.checkboxClass}}" id="check{{module.module_code}}" name="module" value="{{module.module_code}}" onclick="myFunction( '{{module.module_code}}', {{module.credits}} )"></input></td>          {# Selection checkbox - uses module code as id #}
        </tr>

        {# Javascript to handle toggling the hoverover content #}
        <script>
          var e = document.getElementById('{{module.module_code}}');
          e.onmouseover = function() {
            document.getElementById('{{module.module_code}}popup').style.display = 'block';
          }
          e.onmouseout = function() {
            document.getElementById('{{module.module_code}}popup').style.display = 'none';
          }

          var bool = 0;
          function toggle{{module.module_code}}(){
            var e = document.getElementById('{{module.module_code}}');

            if (bool == 0){
              document.getElementById('{{module.module_code}}popup').style.display = 'block';
              bool = 1;
            }else{
              document.getElementById('{{module.module_code}}popup').style.display = 'none';
              bool = 0;
            }

          }

        </script>

      {% endfor %}

    </tbody>


  </table>

  {# Next and back buttons, next = submit form #}
  <a class="btn btn-secondary" href="{{ url('dashboard') }}">Back</a>
  <button type="submit" id="Next" class="btn btn-success" disabled>Next</button>
  </form>


{# iterates through all modules in a modules pre-resqusites #}
{% for module in Modules %}


  {# Div wrapper that toggles visability when hover over #}
  <div id="{{module.module_code}}popup" style="display: none">

    {# Module Code and Title #}
    <p><u>{{module.module_code}} - {{module.module_title}}</u></p>  

    {# Pre-Requisite status: Not satified or Statified #}
    <p>Pre-Requisites: {{ module.msg }}</p>

    {# If missing dependancies exitst, list them #}
    {% for dp in module.dependancies.all() %}
      {% if dp not in SelectedModules.all() %}
      <output id="missing{{ dp.module_code }}" value="{{ module.module_code }}" name="missing{{ dp.module_code }}">[{{ dp }}]</output>
      {% endif %}
    {% endfor %}

    {# Logic to decided whenever to dsiplay the tree or not #}
    {% if module.futuremodules|length == 0 %}
      {# Zero dependents #}
      <p>Future Dependent Modules: None</p>
    {% else %}
      {# There are more than one dependents - So draw Tree #}

      {# Unique module tag placeholder to be populated by d3 graph #}
      <p>Future Dependent Modules:</p>
      <{{module.module_code}}></{{module.module_code}}>
      <script>

          //Define the tree data here - make dynamic to iterate
          var {{ module.module_code }}Treedata = [
            {
              "name": "{{ module.module_code }}",
              "parent": "null",
              "children": [

              {% for Dependancy in module.futuremodules %}
                    {
                      "name": "{{ Dependancy }}",
                      "parent": "{{ module.module_code }}",
                    },
              {% endfor %}

                ]

              }
            ];
            //-------------------------------------------------

            // ************** Generate the tree diagram	 *****************
            var margin = {top: 20, right: 120, bottom: 20, left: 120},
              width = 1000 - margin.right - margin.left,
              height = 300 - margin.top - margin.bottom;

            var i = 0,
              duration = 750,
              root;

            var tree = d3.layout.tree()
              .size([height, width]);

            var diagonal = d3.svg.diagonal()
              .projection(function(d) { return [d.y, d.x]; });

            var svg = d3.select("{{ module.module_code }}").append("svg")
              //d3.select("body").append("svg")
              .attr("width", width + margin.right + margin.left)
              .attr("height", height + margin.top + margin.bottom)
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            root = {{ module.module_code }}Treedata[0];
            root.x0 = height / 2;
            root.y0 = 0;

            update(root);
            //End of tree---------------------------------------------------
          </script>

    {% endif %}

  </div>
{% endfor %}


<script>

  // Script to add credits
  function add(credits) {
      var addcounter = document.getElementById("demo").innerHTML;
      var a = Number(addcounter);
      var b = Number(credits);
      return a -= b;
  }

  // Script to sub credits
  function sub(credits) {
    var subcounter = document.getElementById("demo").innerHTML;
    var a = Number(subcounter);
    var b = Number(credits);
    return a += b;
  }
  
  // Function to either call add or sub function & handle checkbox logic
  function myFunction(module_code, credits) {

      //Call add or sub to change credits remaining
      var priorcounter = document.getElementById("demo").innerHTML;
    
      var checkBox = document.getElementById("check" + module_code).checked;
      if (checkBox == true && priorcounter > 0){
        document.getElementById("demo").innerHTML = add(credits);
      }else if (checkBox == false && priorcounter >= 0){
        document.getElementById("demo").innerHTML = sub(credits);
      }else{
        document.getElementById("check" + module_code).checked = false;
      }

      var counter = document.getElementById("demo").innerHTML;
      if (counter == 0){
          //Enable the next button
          document.getElementById("Next").disabled = false; 
      }else{
          //Disable the next button
          document.getElementById("Next").disabled = true;
      }

      // Creates an array of elements of missing 
      var arrayOfMissing = document.getElementsByName("missing" + module_code);
      // For each element call the function
      arrayOfMissing.forEach(function(element, module_code){

        var state = document.getElementById("check" + element.getAttribute('value')).className;

        if (state == "readonly"){
          document.getElementById("check" + element.getAttribute('value')).className = "checkbox";
        }else{
          document.getElementById("check" + element.getAttribute('value')).className = "readonly";
          
          var theCredits = document.getElementById("cred" + element.getAttribute('value')).innerHTML;

          if (document.getElementById("check" + element.getAttribute('value')).checked){
            document.getElementById("check" + element.getAttribute('value')).checked = false;
            document.getElementById("demo").innerHTML = sub(theCredits);
          }

        }

      });

  } //End of myfunction



</script>




{% endblock %}
